
body{
    background-image: url("imagenes/fondo3.jpg")
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.conteiner{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    background-color: aliceblue;
    border-radius: 5px;
}

.conteiner .tittle{
    font-size: 25px;
    font-weight: 500;
}

.conteiner form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 12px 0;
}

form .form-group{
    margin-bottom: 15px;
    width: calc(100%/2 -20px);
}

form span{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-group input{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group input:valid{
    border-color: aquamarine;
}

form .button{
    width: 100%;
    height: 40px;
    margin: 40px 0;
}

form .button input{
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
    background: linear-gradient(130deg, rgb(132, 132, 241), rgb(192, 179, 248));
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}

form .button input:hover{
    background: linear-gradient(130dep, rgb(132, 132, 241), rgb(192, 179, 248));
}

@media(max-width: 548px) {
    .conteiner{
        max-width: 100%;
    }

form .form-group{
    margin-bottom: 15px;
    width: 100%;
}

.conteiner form{
    max-height: 400px;
    overflow-y: scroll;
}

.conteiner form::-webkit-scrollbar{
    width: 0;
}

form .button{
margin: 200px 0;
}

}

.columna
{float:left;
width:100%;
border:0px solid;

}
@media (max-width: 1000px) {
.columna {float:none;width:100%;}
}

.columns {
    /*   display: inline-block; */
  box-sizing: border-box;
  margin: 70px;
  padding: 40px;
  -webkit-columns: 50px 2;
  -moz-columns: 50px 2;
  columns: 50px 2;
  column-width: 150px;
/*   column-fill: auto; */
column-gap: 10px;
  column-rule: solid 1px #666;
  background: #eee;
  border-radius: 5px;
  /*font: normal 14px Verdana, Arial, Helvetica, sans-serif;*/
  font-size: 20px;
}
h4 {
    font-size: 24px;
    margin: 5px 5px 10px;
    padding: 5px;
  }
p {
    margin: 0 5px 10px;
    padding: 5px;

}